.rowHeader {
  height: 10%;
  width: 100%;
}

.rowContentA {
  height: 100%;
  width: 100%;
  background-color: #9bc6d3;
  border: 10px solid #a6d6c3;
}

.rowContentB {
  height: 100%;
  width: 100%;
  background-color: #e8e3cc;
  border: 10px solid #f5d3d6;
}

.rowContentHolder {
  display: flex;
  height: 40%;
  width: 100%;
}
